.fl-node-5aa08c395e2cc {color: #fff;}
.fl-builder-content .fl-node-5aa08c395e2cc *:not(input):not(textarea):not(select):not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(.fl-menu-mobile-toggle) {color: inherit;}
.fl-builder-content .fl-node-5aa08c395e2cc a {color: #fff;}
.fl-builder-content .fl-node-5aa08c395e2cc a:hover {color: #fff;}
.fl-builder-content .fl-node-5aa08c395e2cc h1, .fl-builder-content .fl-node-5aa08c395e2cc h2, .fl-builder-content .fl-node-5aa08c395e2cc h3, .fl-builder-content .fl-node-5aa08c395e2cc h4, .fl-builder-content .fl-node-5aa08c395e2cc h5, .fl-builder-content .fl-node-5aa08c395e2cc h6, .fl-builder-content .fl-node-5aa08c395e2cc h1 a, .fl-builder-content .fl-node-5aa08c395e2cc h2 a, .fl-builder-content .fl-node-5aa08c395e2cc h3 a, .fl-builder-content .fl-node-5aa08c395e2cc h4 a, .fl-builder-content .fl-node-5aa08c395e2cc h5 a, .fl-builder-content .fl-node-5aa08c395e2cc h6 a {color: #fff;}
.fl-node-5aa08c395e2cc > .fl-row-content-wrap {background-image: url("https://www.flowz.com/wp-content/uploads/2018/03/lp-graphics.png");background-repeat: no-repeat;background-position: center bottom;background-attachment: scroll;background-size: cover;}
.fl-node-5aa08c395e2cc .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5aa08c395e2cc .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5aa08c395e2cc .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5aa08c395e2cc > .fl-row-content-wrap {padding-top: 120px;padding-bottom: 180px;}
.fl-node-5aa08c395e433 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5aa08c395e433 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5aa08c395e433 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5aa08c395e433 > .fl-row-content-wrap {padding-top: 40px;padding-bottom: 40px;}
.fl-node-5aa08c395e308 {width: 100%;}
.fl-node-5aa08c395e12b {width: 100%;}
.fl-node-5aa08c395e1a3 {width: 33.33%;}
.fl-node-5aa08c395e1de {width: 33.33%;}
.fl-node-5aa08c395e21a {width: 33.33%;}
.fl-node-5aa08c395dfc4 {width: 100%;}
.fl-node-5aa08e05891d5 {width: 50%;}
.fl-node-5aa08e058921d {width: 50%;}
.fl-node-5aa08c395e0f0.fl-module-heading .fl-heading {text-align: center;font-size: 50px;}
@media (max-width: 768px) {.fl-node-5aa08c395e0f0.fl-module-heading .fl-heading {font-size: 36px;}}
.fl-node-5aa08c395e0f0 > .fl-module-content {margin-bottom: 10px;}
.fl-node-5aa08c395e3bb > .fl-module-content {margin-top: 0px;margin-bottom: 15px;}
.fl-builder-content .fl-node-5aa08c395e3f7 a.fl-button, .fl-builder-content .fl-node-5aa08c395e3f7 a.fl-button:visited {font-size: 18px;line-height: 20px;padding: 14px 28px;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;background: #22c6fc;border: 1px solid #16baf0;}
.fl-builder-content .fl-node-5aa08c395e3f7 a.fl-button:hover, .fl-builder-content .fl-node-5aa08c395e3f7 a.fl-button:focus {background: #22c6fc;border: 1px solid #16baf0;}
@media ( max-width: 768px ) {.fl-node-5aa08c395e3f7 .fl-button-wrap {text-align: center;}}
.fl-node-5aa08c395e3f7 > .fl-module-content {margin-top: 0px;}
.fl-node-5aa08c395e37f.fl-module-heading .fl-heading {text-align: center;font-size: 30px;}
.fl-node-5aa08e3027948 .fl-testimonials-wrap.compact h3 {font-size: 24px;}
.fl-node-5aa08e3027948 .fl-testimonials-wrap .bx-pager.bx-default-pager a, .fl-node-5aa08e3027948 .fl-testimonials-wrap .bx-pager.bx-default-pager a.active {background: #999;opacity: 1;}
.fl-node-5aa08e3027948 .fl-testimonials-wrap .bx-pager.bx-default-pager a {opacity: .2;}
.fl-node-5aa08e3027948 .fl-testimonials-wrap .fa:hover, .fl-node-5aa08e3027948 .fl-testimonials-wrap .fa {color: #999;}
.fl-node-5aa08e3027948 .fl-testimonials-wrap.fl-testimonials-no-heading {padding-top: 25px;}
.fl-node-5aa08c395e0b5 .fl-separator {border-top: 1px solid #000;filter: alpha(opacity=10);opacity: .1;margin: auto;}
.fl-node-5aa08c395e0b5 > .fl-module-content {margin-top: 40px;margin-bottom: 30px;}
@media (max-width: 768px) {.fl-node-5aa08c395e0b5 > .fl-module-content {margin-top: 20px;margin-bottom: 20px;}}
.fl-node-5aa08c395e079 .fl-module-content {padding: 0px;}
.fl-builder-content .fl-node-5aa08c395e079 a.fl-button, .fl-builder-content .fl-node-5aa08c395e079 a.fl-button:visited {font-size: 18px;line-height: 20px;padding: 14px 28px;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;background: #05406d;border: 1px solid #003461;}
.fl-builder-content .fl-node-5aa08c395e079 a.fl-button, .fl-builder-content .fl-node-5aa08c395e079 a.fl-button:visited, .fl-builder-content .fl-node-5aa08c395e079 a.fl-button *, .fl-builder-content .fl-node-5aa08c395e079 a.fl-button:visited * {color: #fff;}
.fl-builder-content .fl-node-5aa08c395e079 a.fl-button:hover, .fl-builder-content .fl-node-5aa08c395e079 a.fl-button:focus {background: #05406d;border: 1px solid #003461;}
@media ( max-width: 768px ) {.fl-node-5aa08c395e079 .fl-button-wrap {text-align: center;}}