.fl-node-5a7729ddcb563 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5a7729ddcb563 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5a7729ddcb563 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5a772d400ae99 {width: 100%;}
.fl-node-5a7729ddcc7c3 {width: 100%;}
.fl-node-5a7729eab23e2 {width: 100%;}
.fl-builder-content .fl-node-5a772b90134e6 a.fl-button, .fl-builder-content .fl-node-5a772b90134e6 a.fl-button:visited {font-size: 25px;line-height: 27px;padding: 12px 24px;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;background: #22a1c4;border: 1px solid #1695b8;}
.fl-builder-content .fl-node-5a772b90134e6 a.fl-button, .fl-builder-content .fl-node-5a772b90134e6 a.fl-button:visited, .fl-builder-content .fl-node-5a772b90134e6 a.fl-button *, .fl-builder-content .fl-node-5a772b90134e6 a.fl-button:visited * {color: #fff;}
.fl-builder-content .fl-node-5a772b90134e6 a.fl-button:hover, .fl-builder-content .fl-node-5a772b90134e6 a.fl-button:focus {background: #71e2ed;border: 1px solid #65d6e1;}
.fl-builder-content .fl-node-5a772b90134e6 a.fl-button:hover, .fl-builder-content .fl-node-5a772b90134e6 a.fl-button:focus, .fl-builder-content .fl-node-5a772b90134e6 a.fl-button:hover *, .fl-builder-content .fl-node-5a772b90134e6 a.fl-button:focus * {color: #1a87a3;}
@media ( max-width: 768px ) {.fl-node-5a772b90134e6 .fl-button-wrap {text-align: center;}}