.fl-node-5a5f7f36c0864 > .fl-row-content-wrap {background-image: url("https://flowz.com/wp-content/uploads/2018/01/screenshot_23.jpg");background-repeat: no-repeat;background-position: center center;background-attachment: scroll;background-size: cover;}
.fl-node-5a5f7f36c0864 > .fl-row-content-wrap:after {background-color: #262121;background-color: rgba(38,33,33,.2);}
.fl-node-5a5f7f36c0864 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5a5f7f36c0864 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5a5f7f36c0864 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5a5f7f36c0864 > .fl-row-content-wrap {padding-top: 220px;padding-bottom: 220px;}
.fl-node-5a5f7f36bfe18 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5a5f7f36bfe18 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5a5f7f36bfe18 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5a5f7f36bfe18 > .fl-row-content-wrap {padding-top: 40px;padding-bottom: 40px;}
.fl-node-5a5f7f36c0067 > .fl-row-content-wrap:after {background-color: #0a0a0a;background-color: rgba(10,10,10,.75);}
.fl-node-5a5f7f36c0067 > .fl-row-content-wrap {background-repeat: no-repeat;background-position: center center;background-attachment: fixed;background-size: cover;}
.fl-builder-mobile .fl-node-5a5f7f36c0067 > .fl-row-content-wrap {background-image: url("https://content-pages.demos.wpbeaverbuilder.com/wp-content/uploads/sites/26/2016/07/pexels-code.jpg");background-attachment: scroll;background-position: center center;}
.fl-node-5a5f7f36c0067 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5a5f7f36c0067 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5a5f7f36c0067 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5a5f7f36c0067 > .fl-row-content-wrap {padding-top: 100px;padding-bottom: 100px;}
.fl-node-5a5f7f36c06ff > .fl-row-content-wrap {background-color: #f9f9f9;background-color: rgba(249,249,249,1);}
.fl-node-5a5f7f36c06ff .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5a5f7f36c06ff .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5a5f7f36c06ff .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5a5f7f36c06ff > .fl-row-content-wrap {padding-top: 40px;padding-bottom: 50px;}
.fl-node-5a5f7f36c091a {width: 37.01%;}
.fl-node-5a5f7f8e76f85 {width: 62.99%;}
.fl-node-5a5f7f36bfe9b {width: 50%;}
.fl-node-5a5f7f36bfed6 {width: 50%;}
.fl-node-5a778190659c8 {width: 100%;}
.fl-node-5a77802480c15 {width: 100%;}
.fl-node-5a5f7f36c00d9 {width: 50%;}
.fl-node-5a5f7f36c01bf {width: 50%;}
.fl-node-5a5f7f36c0776 {width: 100%;}
.fl-node-5a5f7f36c0955.fl-module-heading .fl-heading {text-align: center;font-size: 40px;}
.fl-row .fl-col .fl-node-5a5f7f36c0955 h1.fl-heading a, .fl-row .fl-col .fl-node-5a5f7f36c0955 h1.fl-heading .fl-heading-text, .fl-row .fl-col .fl-node-5a5f7f36c0955 h1.fl-heading .fl-heading-text * {color: #fff;}
.fl-node-5a5f7f36c0991.fl-module-heading .fl-heading {text-align: center;font-size: 22px;letter-spacing: 2px;}
.fl-row .fl-col .fl-node-5a5f7f36c0991 h2.fl-heading a, .fl-row .fl-col .fl-node-5a5f7f36c0991 h2.fl-heading .fl-heading-text, .fl-row .fl-col .fl-node-5a5f7f36c0991 h2.fl-heading .fl-heading-text * {color: #e8e8e8;}
.fl-node-5a5f7f36c0991 > .fl-module-content {margin-top: 0px;}
.fl-node-5a5f7f36bff0f.fl-module-heading .fl-heading {text-align: left;}
.fl-row .fl-col .fl-node-5a5f7f36bff0f h2.fl-heading a, .fl-row .fl-col .fl-node-5a5f7f36bff0f h2.fl-heading .fl-heading-text, .fl-row .fl-col .fl-node-5a5f7f36bff0f h2.fl-heading .fl-heading-text * {color: #05406d;}
.fl-node-5a5f7f36bff48.fl-module-heading .fl-heading {text-align: left;}
.fl-row .fl-col .fl-node-5a5f7f36bff48 h2.fl-heading a, .fl-row .fl-col .fl-node-5a5f7f36bff48 h2.fl-heading .fl-heading-text, .fl-row .fl-col .fl-node-5a5f7f36bff48 h2.fl-heading .fl-heading-text * {color: #05406d;}
.fl-node-5a7781906578c .fl-separator {border-top: 1px solid #ccc;filter: alpha(opacity=100);opacity: 1;margin: auto;}
.fl-node-5a5f7f36c01f9.fl-module-icon {text-align: center;}
.fl-node-5a5f7f36c01f9 .fl-module-content .fl-icon i, .fl-node-5a5f7f36c01f9 .fl-module-content .fl-icon i:before {color: #fff;font-size: 42px;height: auto;width: auto;}
.fl-node-5a5f7f36c01f9 .fl-module-content .fl-icon i:hover, .fl-node-5a5f7f36c01f9 .fl-module-content .fl-icon i:hover:before, .fl-node-5a5f7f36c01f9 .fl-module-content .fl-icon a:hover i, .fl-node-5a5f7f36c01f9 .fl-module-content .fl-icon a:hover i:before {color: #e0e0e0;}
.fl-node-5a5f7f36c01f9 .fl-module-content .fl-icon-text {height: 73.5px;}
.fl-node-5a5f7f36c01f9 > .fl-module-content {margin-bottom: 10px;}
.fl-node-5a5f7f36c0113 .fl-number-string {font-size: 50px;color: #fff;}
.fl-node-5a5f7f36c0113 > .fl-module-content {margin-top: 0px;}
.fl-node-5a5f7f36c0232 .fl-separator {border-top: 2px solid #fff;filter: alpha(opacity=100);opacity: 1;width: 20%;max-width: 100%;margin: auto;}
.fl-node-5a5f7f36c0232 > .fl-module-content {margin-top: 5px;margin-bottom: 5px;}
.fl-node-5a5f7f36c026c.fl-module-heading .fl-heading {text-align: center;letter-spacing: 1px;}
.fl-row .fl-col .fl-node-5a5f7f36c026c h5.fl-heading a, .fl-row .fl-col .fl-node-5a5f7f36c026c h5.fl-heading .fl-heading-text, .fl-row .fl-col .fl-node-5a5f7f36c026c h5.fl-heading .fl-heading-text * {color: #ededed;}
.fl-node-5a5f7f36c028f.fl-module-icon {text-align: center;}
.fl-node-5a5f7f36c028f .fl-module-content .fl-icon i, .fl-node-5a5f7f36c028f .fl-module-content .fl-icon i:before {color: #fff;font-size: 42px;height: auto;width: auto;}
.fl-node-5a5f7f36c028f .fl-module-content .fl-icon i:hover, .fl-node-5a5f7f36c028f .fl-module-content .fl-icon i:hover:before, .fl-node-5a5f7f36c028f .fl-module-content .fl-icon a:hover i, .fl-node-5a5f7f36c028f .fl-module-content .fl-icon a:hover i:before {color: #e0e0e0;}
.fl-node-5a5f7f36c028f .fl-module-content .fl-icon-text {height: 73.5px;}
.fl-node-5a5f7f36c028f > .fl-module-content {margin-bottom: 10px;}
.fl-node-5a5f7f36c02cd .fl-number-string {font-size: 50px;color: #fff;}
.fl-node-5a5f7f36c02cd > .fl-module-content {margin-top: 0px;}
.fl-node-5a5f7f36c030a .fl-separator {border-top: 2px solid #fff;filter: alpha(opacity=100);opacity: 1;width: 20%;max-width: 100%;margin: auto;}
.fl-node-5a5f7f36c030a > .fl-module-content {margin-top: 5px;margin-bottom: 5px;}
.fl-node-5a5f7f36c0345.fl-module-heading .fl-heading {text-align: center;letter-spacing: 1px;}
.fl-row .fl-col .fl-node-5a5f7f36c0345 h5.fl-heading a, .fl-row .fl-col .fl-node-5a5f7f36c0345 h5.fl-heading .fl-heading-text, .fl-row .fl-col .fl-node-5a5f7f36c0345 h5.fl-heading .fl-heading-text * {color: #ededed;}
.fl-node-5a5f7f36c07ed.fl-module-heading .fl-heading {text-align: center;font-size: 28px;letter-spacing: 1px;}
.fl-row .fl-col .fl-node-5a5f7f36c07ed h3.fl-heading a, .fl-row .fl-col .fl-node-5a5f7f36c07ed h3.fl-heading .fl-heading-text, .fl-row .fl-col .fl-node-5a5f7f36c07ed h3.fl-heading .fl-heading-text * {color: #0a0a0a;}
.fl-node-5a5f7f36c0828 .fl-separator {border-top: 2px solid #0a0a0a;filter: alpha(opacity=100);opacity: 1;width: 5%;max-width: 100%;margin: auto;}
.fl-node-5a5f7f36c0828 > .fl-module-content {margin-top: 10px;}
.fl-node-5a5f7f36c07b1 .fl-testimonials-wrap.compact h3 {font-size: 24px;}
.fl-node-5a5f7f36c07b1 .fl-testimonials-wrap .bx-pager.bx-default-pager a, .fl-node-5a5f7f36c07b1 .fl-testimonials-wrap .bx-pager.bx-default-pager a.active {background: #999;opacity: 1;}
.fl-node-5a5f7f36c07b1 .fl-testimonials-wrap .bx-pager.bx-default-pager a {opacity: .2;}
.fl-node-5a5f7f36c07b1 .fl-testimonials-wrap .fa:hover, .fl-node-5a5f7f36c07b1 .fl-testimonials-wrap .fa {color: #999;}
.fl-node-5a5f7f36c07b1 .fl-testimonials-wrap.fl-testimonials-no-heading {padding-top: 25px;}