.fl-node-5a5f80a48dd9c .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5a5f80a48dd9c .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5a5f80a48dd9c .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5a5f80a48de0f {width: 50%;}
.fl-node-5a5f80a48de48 {width: 50%;}
.fl-node-5ae6425974f91.fl-module-heading .fl-heading {text-align: left;font-size: 20px;}
.fl-row .fl-col .fl-node-5ae6425974f91 h3.fl-heading a, .fl-row .fl-col .fl-node-5ae6425974f91 h3.fl-heading .fl-heading-text, .fl-row .fl-col .fl-node-5ae6425974f91 h3.fl-heading .fl-heading-text * {color: #333;}
.fl-node-5ae6425974f91 .fl-heading .fl-heading-text {font-family: "Montserrat",sans-serif;font-weight: 700;}
.fl-builder-content .fl-node-5a5f80a48def4 a.fl-button, .fl-builder-content .fl-node-5a5f80a48def4 a.fl-button:visited {font-size: 20px;line-height: 22px;padding: 10px 20px;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;background: #3497ba;border: 1px solid #288bae;}
.fl-builder-content .fl-node-5a5f80a48def4 a.fl-button, .fl-builder-content .fl-node-5a5f80a48def4 a.fl-button:visited, .fl-builder-content .fl-node-5a5f80a48def4 a.fl-button *, .fl-builder-content .fl-node-5a5f80a48def4 a.fl-button:visited * {color: #fff;}
.fl-builder-content .fl-node-5a5f80a48def4 a.fl-button:hover, .fl-builder-content .fl-node-5a5f80a48def4 a.fl-button:focus {background: #22c6fc;border: 1px solid #16baf0;}
.fl-builder-content .fl-node-5a5f80a48def4 a.fl-button:hover, .fl-builder-content .fl-node-5a5f80a48def4 a.fl-button:focus, .fl-builder-content .fl-node-5a5f80a48def4 a.fl-button:hover *, .fl-builder-content .fl-node-5a5f80a48def4 a.fl-button:focus * {color: #fff;}
.fl-builder-content .fl-node-5a5f80a48def4 .fl-button, .fl-builder-content .fl-node-5a5f80a48def4 .fl-button * {transition: all .2s linear !important;-moz-transition: all .2s linear !important;-webkit-transition: all .2s linear !important;-o-transition: all .2s linear !important;}
@media ( max-width: 768px ) {.fl-node-5a5f80a48def4 .fl-button-wrap {text-align: center;}}
.fl-node-5a5f80a48def4 > .fl-module-content {margin-bottom: 50px;}
@media (max-width: 768px) {.fl-node-5a5f80a48def4 > .fl-module-content {margin-bottom: 20px;}}
.fl-node-5a5f80a48df2e.fl-module-heading .fl-heading {text-align: left;font-size: 20px;}
.fl-row .fl-col .fl-node-5a5f80a48df2e h3.fl-heading a, .fl-row .fl-col .fl-node-5a5f80a48df2e h3.fl-heading .fl-heading-text, .fl-row .fl-col .fl-node-5a5f80a48df2e h3.fl-heading .fl-heading-text * {color: #333;}
.fl-node-5a5f80a48df2e .fl-heading .fl-heading-text {font-family: "Montserrat",sans-serif;font-weight: 700;}
.fl-node-5a5f80a48deba > .fl-module-content {margin-top: 0px;}
.fl-node-5acc165f3a3e3 .fl-separator {border-top: 1px solid #ccc;filter: alpha(opacity=100);opacity: 1;margin: auto;}
.fl-node-5a5f80a48e1c8 > .fl-module-content {margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;}