.fl-node-5a5f88877c860 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5a5f88877c860 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5a5f88877c860 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5a5f88877caf7 {width: 100%;}
.fl-node-5a5f88877ca81 .fl-accordion-item {border: 1px solid #232323;margin-bottom: 20px;}