.fl-node-5a62109331a71 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5a62109331a71 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5a62109331a71 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5a6211397b1e4 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5a6211397b1e4 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5a6211397b1e4 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5a6214b82801a .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5a6214b82801a .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5a6214b82801a .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5a62b583a3f73 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5a62b583a3f73 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5a62b583a3f73 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5a6211df398a2.fl-row-fixed-width, .fl-node-5a6211df398a2 .fl-row-fixed-width {max-width: 1080px;}
.fl-node-5a6211df398a2 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5a6211df398a2 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5a6211df398a2 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5a62120a13c70 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5a62120a13c70 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5a62120a13c70 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5a6215fe37f2a .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5a6215fe37f2a .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5a6215fe37f2a .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5a621255acce4.fl-row-fixed-width, .fl-node-5a621255acce4 .fl-row-fixed-width {max-width: 1008px;}
.fl-node-5a621255acce4 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5a621255acce4 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5a621255acce4 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5a6216473ecfc .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5a6216473ecfc .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5a6216473ecfc .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5a622041973e9 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5a622041973e9 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5a622041973e9 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5a62109333bf9 {width: 50%;}
.fl-node-5a62109333c3a {width: 50%;}
.fl-node-5a6215d2a26ed {width: 100%;}
.fl-node-5a6211397de2a {width: 33.33%;}
.fl-node-5a6211397de69 {width: 33.33%;}
.fl-node-5a6211397dea4 {width: 33.33%;}
.fl-node-5a6214b828349 {width: 33.33%;}
.fl-node-5a6214b8283bd {width: 33.33%;}
.fl-node-5a6214b82842f {width: 33.33%;}
.fl-node-5a6215ef05aac {width: 100%;}
.fl-node-5a62b583b77ce {width: 100%;}
.fl-node-5a6211df3f242 {width: 33.33%;}
.fl-node-5a621dc945591 {width: 33.17%;}
.fl-node-5a621ded4c123 {width: 33.5%;}
.fl-node-5a62120a1a803 {width: 100%;}
.fl-node-5a6215fe422e6 {width: 100%;}
.fl-node-5a621255b4cb0 {width: 100%;}
.fl-node-5a6216474a9d3 {width: 100%;}
.fl-node-5a622041a3807 {width: 100%;}
.fl-builder-content .fl-node-5a62111857137 a.fl-button, .fl-builder-content .fl-node-5a62111857137 a.fl-button:visited {font-size: 16px;line-height: 18px;padding: 12px 24px;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;}
@media ( max-width: 768px ) {.fl-node-5a62111857137 .fl-button-wrap {text-align: center;}}
.fl-node-5a6215d2a24ae .fl-separator {border-top: 1px solid #1c1c1c;filter: alpha(opacity=100);opacity: 1;margin: auto;}
.fl-node-5a6215ef056ac .fl-separator {border-top: 1px solid #232323;filter: alpha(opacity=100);opacity: 1;margin: auto;}
.fl-builder-content .fl-node-5a62120a13921 a.fl-button, .fl-builder-content .fl-node-5a62120a13921 a.fl-button:visited {font-size: 16px;line-height: 18px;padding: 12px 24px;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;}
@media ( max-width: 768px ) {.fl-node-5a62120a13921 .fl-button-wrap {text-align: center;}}
.fl-node-5a6215fe37b2a .fl-separator {border-top: 1px solid #1e1e1e;filter: alpha(opacity=100);opacity: 1;margin: auto;}
.fl-node-5a621273338a5 .fl-testimonials-wrap.compact h3 {font-size: 24px;}
.fl-node-5a621273338a5 .fl-testimonials-wrap .bx-pager.bx-default-pager a, .fl-node-5a621273338a5 .fl-testimonials-wrap .bx-pager.bx-default-pager a.active {background: #999;opacity: 1;}
.fl-node-5a621273338a5 .fl-testimonials-wrap .bx-pager.bx-default-pager a {opacity: .2;}
.fl-node-5a621273338a5 .fl-testimonials-wrap .fa:hover, .fl-node-5a621273338a5 .fl-testimonials-wrap .fa {color: #999;}
.fl-node-5a621273338a5 .fl-testimonials-wrap.fl-testimonials-no-heading {padding-top: 25px;}
.fl-builder-content .fl-node-5a621638df04a a.fl-button, .fl-builder-content .fl-node-5a621638df04a a.fl-button:visited {font-size: 16px;line-height: 18px;padding: 12px 24px;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;}
@media ( max-width: 768px ) {.fl-node-5a621638df04a .fl-button-wrap {text-align: center;}}