.fl-node-5a772c29a78d6 .fl-bg-video-audio {display: none;cursor: pointer;position: absolute;bottom: 20px;right: 20px;z-index: 5;width: 20px;}
.fl-node-5a772c29a78d6 .fl-bg-video-audio .fl-audio-control {font-size: 20px;}
.fl-node-5a772c29a78d6 .fl-bg-video-audio .fa-times {font-size: 10px;vertical-align: middle;position: absolute;top: 5px;left: 11px;bottom: 0;}
.fl-node-5aefb68cad67a {width: 50%;}
.fl-node-5aefb6a54f798 {width: 50%;}
.fl-node-5aefb85970ce0 {width: 100%;}
.fl-node-5a772c29a8ae0 {width: 100%;}
.fl-node-5a772c9ec2221 {width: 100%;}
.fl-node-5a772c354d982 {width: 100%;}
.fl-node-5aefb8597096e .fl-separator {border-top: 1px solid #ccc;filter: alpha(opacity=100);opacity: 1;margin: auto;}
.fl-node-5aefb7eb35c98.fl-module-heading .fl-heading {text-align: center;}
.fl-row .fl-col .fl-node-5aefb7eb35c98 h3.fl-heading a, .fl-row .fl-col .fl-node-5aefb7eb35c98 h3.fl-heading .fl-heading-text, .fl-row .fl-col .fl-node-5aefb7eb35c98 h3.fl-heading .fl-heading-text * {color: #05406d;}
.fl-builder-content .fl-node-5a772c400f899 a.fl-button, .fl-builder-content .fl-node-5a772c400f899 a.fl-button:visited {font-size: 25px;line-height: 27px;padding: 12px 24px;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;background: #22a1c4;border: 1px solid #1695b8;}
.fl-builder-content .fl-node-5a772c400f899 a.fl-button, .fl-builder-content .fl-node-5a772c400f899 a.fl-button:visited, .fl-builder-content .fl-node-5a772c400f899 a.fl-button *, .fl-builder-content .fl-node-5a772c400f899 a.fl-button:visited * {color: #fff;}
.fl-builder-content .fl-node-5a772c400f899 a.fl-button:hover, .fl-builder-content .fl-node-5a772c400f899 a.fl-button:focus {background: #71e2ed;border: 1px solid #65d6e1;}
.fl-builder-content .fl-node-5a772c400f899 a.fl-button:hover, .fl-builder-content .fl-node-5a772c400f899 a.fl-button:focus, .fl-builder-content .fl-node-5a772c400f899 a.fl-button:hover *, .fl-builder-content .fl-node-5a772c400f899 a.fl-button:focus * {color: #1a87a3;}
@media ( max-width: 768px ) {.fl-node-5a772c400f899 .fl-button-wrap {text-align: center;}}