.new_head_bg {background-color: #35a1c0;}
.new_front_head {color: #fff !important;}
.hme_btn1 a {background-color: #2da1c2 !important;color: #fff !important;width: 239px;line-height: 21px;font-size: 18px !important;font-weight: 400 !important;border-radius: 3px;border: none;border: solid 2px #fff !important;padding: 12px !important;font-family: "Helvetica" !important;text-transform: uppercase !important;}
.hme_btn2 a {background-color: #fff !important;color: #2da1c2 !important;width: 239px;line-height: 21px;font-size: 18px !important;font-weight: 400;border-radius: 3px;padding: 12px !important;border: none;font-family: Montserrat !important;}
.butn_rowr {padding-top: 30px;}
.page-id-1620 .no-breadcrumbs .main-content {padding-top: 0px;}
.slidr_row .wpb_revslider_element {margin-bottom: 0px;}
.work_tabr ul.vc_tta-tabs-list a {border-top: 1px solid #e0e0e0 !important;border-left: 1px solid #e0e0e0 !important;border-right: 1px solid #e0e0e0 !important;padding: 25px 30px !important;color: #00c8ff !important;font-weight: 500 !important;font-family: montserrat;font-size: 18px;}
.work_tabr {margin-top: -74px;}
.pg_tab .vc_btn3-container.tab_butn.vc_btn3-center {width: 13%;float: left;}
.pg_tab .vc_btn3-container.tab_butn.vc_btn3-center {width: 12%;float: left;margin-left: 101px;}
.tab_butn a {border-top: 1px solid #e0e0e0 !important;border-left: 1px solid #e0e0e0 !important;border-right: 1px solid #e0e0e0 !important;padding: 20px 0px !important;color: #00c8ff !important;font-weight: 500 !important;font-family: montserrat;font-size: 18px !important;width: 190px;}
.pg_tab {margin-top: -67px;}
.tab_butns a {color: #222;font-weight: 600;font-family: montserrat;font-size: 13px !important;width: 100px;}
.tab_butns {width: 8%;float: left;margin-left: 101px;}
.tab_butns a {color: #222;font-weight: 600;font-family: montserrat;font-size: 13px !important;width: 100px;border: none !important;}
.work_content h2 {font-size: 40px;}
.work_content {font-size: 14px;color: #333;line-height: 1.6;font-weight: 400;font-family: Montserrat;}
.work_content2 {font-size: 16px;color: #333;line-height: 1.6;font-weight: 400;font-family: Montserrat;}
.main-content {padding-bottom: 0px;}
.no-breadcrumbs .main-content {padding-top: 0px !important;}
.tab_butns a {color: #000 !important;}
.slidr_imgr {height: 450px !important;background-size: 100% 100% !important;}
.pad_50 {padding-top: 50px;}
#header .header-main .container #main-menu .mega-menu {text-align: left;background: #003f6f !important;}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-item > a.mega-menu-link:hover {background: #003f6f !important;}
a.mega-menu-link {font-size: 12px !important;font-weight: 700 !important;letter-spacing: .05rem !important;font-family: Montserrat !important;color: #fff !important;text-transform: uppercase !important;}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-megamenu > ul.mega-sub-menu {background: #003f6f !important;}
.header_cat a {background-color: #003f6f !important;width: 240px !important;}
.header_cat ul {position: relative;left: 240px !important;background-color: #fff !important;height: 175px !important;width: auto !important;color: #003f6f !important;}
.header_cat ul a {background-color: #fff !important;color: #003f6f !important;}
.header_cat ul {position: relative;position: fixed !important;left: 240px !important;left: 71.5% !important;background-color: #fff !important;height: 175px !important;width: auto !important;color: #003f6f !important;top: 94px !important;}
.header_cat ul {position: relative;position: fixed !important;left: 240px !important;left: 71.8% !important;background-color: #fff !important;height: 173px !important;width: auto !important;color: #003f6f !important;top: 19% !important;}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link, #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-item.mega-current-menu-ancestor > a.mega-menu-link, #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-item.mega-current-page-ancestor > a.mega-menu-link {background: #003f6f !important;}
#mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-item.mega-toggle-on > a.mega-menu-link, #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-item > a.mega-menu-link:hover, #mega-menu-wrap-main_menu #mega-menu-main_menu > li.mega-menu-item > a.mega-menu-link:focus {background: #003f6f !important;}
#nav-panel .accordion-menu li.menu-item > a {text-transform: uppercase !important;font-weight: 700 !important;}
div.wpcf7-validation-errors {float: left !important;}
div.wpcf7-response-output {float: left !important;}