.col_8 {padding-right: 8px;padding-left: 8px;}
.clr_text h4, .clr_text h5 {color: #05406d !important;}
.clr_text h6 {color: #05406d !important;font-size: 13px;}
.clr_text h5 {margin-bottom: 5px;}
h1, h2, h3, h4, h5, h6, a {font-family: Montserrat !important;}
body {font-family: Montserrat !important;}
.abt_t h1 {color: #00c8ff;text-transform: CAPITALIZE;margin: 0 0 19px 0;font-size: 24px;font-family: Montserrat !important;}
h3.widget-title {font-family: Montserrat !important;}
.natn_prow2 .tesr_row h1 {font-family: Montserrat !important;}
.natn_prow2 .tesr_row h4 {color: #ccc;font-family: Montserrat !important;}
.natn_prow2 .tesr_row h5 {color: #999;font-family: Montserrat;}
div.wpcf7-validation-errors {float: left !important;}
div.wpcf7-response-output {float: left !important;}
#footer .footer-bottom .container>* {padding-top: 15px !important;border-top-style: solid;border-top-width: 1px;border-color: #272a36;font-size: 14px;}
#footer .footer-bottom .container {margin-bottom: 0px !important;}
#footer {padding-top: 0px !important;padding-bottom: 0px !important;}
#footer .footer-bottom {padding: 1px 0 !important;}
.widget {margin-bottom: 0px !important;margin-top: 30px !important;}
#nav-panel .accordion-menu li.menu-item > a {text-transform: uppercase !important;font-weight: 700 !important;}
@media only screen and (min-width: 900px)
.page-id-1329 li#nav-menu-item-256 {padding-left: 0px !important;
    float: left !important; 
}

#main-menu .mega-menu > li.menu-item > a {font-size: 12px !important;font-weight: 700 !important;letter-spacing: .05rem !important;}
	#header .header-main .container>div {padding-top: 0px !important;padding-bottom: 0px !important;}
	#wpostahs-slider-nav-1 {position: absolute !important;top: 537px !important;left: 350px;}
	.middle_image8 {}
	li.vc_tta-tab:hover {border-bottom: solid 3px #003f6f !important;}
	div#fl-tabs-5a6818240f3a4-label-0 {margin-left: 364px !important;}
	div#fl-tabs-5a6818240f3a4-label-1:hover {border-bottom: solid 4px #003f6f !important;}
	div#fl-tabs-5a6818240f3a4-label-0:hover {border-bottom: solid 4px #003f6f !important;}
	div#fl-tabs-5a6818240f3a4-label-2:hover {border-bottom: solid 4px #003f6f !important;}
	.fl-node-5a6818240f3a4 .fl-tabs-label.fl-tab-active {border-color: #fff !important;}
	.vc_btn3.vc_btn3-size-md.vc_btn3-style-outline {padding: 8px 55px !important;border-width: 2px !important;}
	.vc_btn3.vc_btn3-color-info.vc_btn3-style-outline:hover {border: 2px solid #003f6f !important;color: #fff !important;padding: 8px 55px !important;background-color: #003f6f !important;}
	.middle_image6 {margin-bottom: 0px !important;}
	.serrows .wpb_text_column.wpb_content_element.middle_text7 {margin-top: 0px !important;}
	.serrows .wpb_text_column.wpb_content_element.middle_text30 .wpb_wrapper p a {margin-left: 0px !important;}
	.middle_image7 img {bottom: 97px;position: relative;}
	.natn_prow a.vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-shape-square.vc_btn3-style-modern.vc_btn3-color-grey {text-align: left !important;}
	.des_extext h2 {font-size: 24px;color: #00c8ff;font-family: Montserrat;font-weight: 500;}
	.des_extext {margin-bottom: 20px !important;}
	.des_e3 p {font-size: 30px;font-family: Montserrat;font-weight: 400;}
	.wpcr3_button_1 {background: #003f6f !important;color: #fff !important;}
	.ld span {text-transform: uppercase;font-size: 20px;color: #22a0c3;}
	.custom-long-arrow-right:before {display: none !important;}
	.custom-long-arrow-right:after {display: none !important;}
	.custom-long-arrow-right a {padding-right: 30px !important;padding-left: 30px !important;}
	ul.slick-dots {display: none !important;}
	.wpostahs-slider-design-1 .wpostahs-slider-nav-title.slick-current .wpostahs-main-title {background: none;}
	.tm p {font: 500 24px/40px Montserrat;margin-top: 50px;color: #999;text-align: left;}
	html .btn-primary {color: #fff !important;background-color: #00c5ff !important;}
	.custom-b-r-lg {border-radius: 5px !important;}
	#nav-menu-item-257 a {color: #003f6f !important;}
	#main-menu .mega-menu .narrow .popup ul.sub-menu {background-color: #003f6f !important;border-top-color: #003f6f !important;border-top-width: 5px !important;}
	#main-menu .mega-menu .narrow .popup li.menu-item > a {color: #fff;text-transform: uppercase !important;font-size: 12px !important;font-weight: 700 !important;letter-spacing: .05rem !important;}
	.serrows .middle_text {margin-top: 0 !important;}
	#main-menu .mega-menu .narrow .popup li.menu-item > a:hover {color: #22a1c4 !important;text-transform: uppercase !important;font-size: 12px !important;font-weight: 700 !important;letter-spacing: .05rem !important;}
	li#nav-menu-item-256 {}
	li#nav-menu-item-257 {width: 20% !important;}
	.middle_image {margin-top: -173px !important;margin-right: 17px !important;}
	.middle_text {margin-top: -128px !important;}
	li#nav-menu-item-257:hover {transition: unset !important;}
	body.gppro-custom .front-page-7 {background: #eee;}
	.content-sidebar-wrap .front-page-7 .image-section .widget-area {padding-top: 50px;padding-bottom: 50px;}
	body.gppro-custom .front-page-7 .block-title, body.gppro-custom .front-page-2 h3.title {font: 500 50px Montserrat;margin-bottom: 50px;text-align: center;color: #999;}
	body.gppro-custom .front-page-7 .ability-width {float: left;text-align: center;width: 45%;}
	body.gppro-custom .front-page-7 .ability-width + .ability-width {width: 48%;text-align: left;}
	body.gppro-custom .front-page-7 .ability-width .media-text {font: 500 24px/40px Montserrat;margin-top: 50px;color: #999;}
	.front-page-7 .request-width:nth-child(2) {background: rgba(255,255,255,.4);border-radius: 5px;-webkit-border-radius: 5px;}
	ul#afp-filter {text-align: center;line-height: 50px !important;}
	ul#afp-filter li {display: inline-block;padding-right: 10px !important;padding-left: 10px !important;padding-top: 5px !important;padding-bottom: 5px !important;border: solid 1px #ccc;border-collapse: separate;margin-right: 0px;}
	li.afp-active-cat {background-color: #003f6f !important;}
	li.afp-active-cat a {color: #fff !important;text-decoration: none !important;}
	ul#afp-filter li a {color: #000;}
	ul#afp-filter li a:hover {text-decoration: none;}
	li.afp-single-item {width: 25% !important;}
	img.img-link-initial {height: 258px;margin: 10px;}
	#wonderplugingridgallery-1 .wpp-category-greybutton .wonderplugin-gridgallery-tag {font-size: 14px !important;}
	#wonderplugingridgallery-1 .wonderplugin-gridgallery-item-text {background-color: none !important;}
	#wonderplugingridgallery-1 .wpp-category-greybutton .wonderplugin-gridgallery-tag {background: transparent !important;border: solid 1px #ccc !important;color: #000 !important;}
	.page-id-1170 .main-content {padding-bottom: 0px !important;}
	#wonderplugingridgallery-1 .wpp-category-greybutton .wonderplugin-gridgallery-tag:hover {border: none !important;background: #003f6f !important;color: #fff !important;font-weight: 600 !important;}
	#wonderplugingridgallery-1 .wpp-category-greybutton .wonderplugin-gridgallery-tag-selected {border: none !important;background: #003f6f !important;color: #fff !important;font-weight: 600 !important;}
	.wonderplugin-gridgallery-tags-topcenter .wonderplugin-gridgallery-tag {margin: 0px -4px 12px 3px !important;}
	#svplayer #sv_videoWrap video {height: 180px !important;}
	div#svplayer {max-height: 180px !important;}
	.middle_text11 h3.service_link {position: relative;top: 7px;}
	.middle_text2 p.text_new8 {position: relative;top: 42px;}
	.middle_text41 a {position: relative;top: 6px !important;}
	#services .vc_column_container:nth-child(3) .service_link {top: 8px !important;bottom: auto;position: relative;}
	#services .vc_column_container .wpb_wrapper .ld .vc_column_container:nth-child(1) .wpb_wrapper .wpb_single_image .wpb_wrapper a .vc_single_image-wrapper .attachment-full {top: 55px !important;width: 180px !important;max-width: 271px !important;left: 0px !important;right: auto;position: relative;}
	.page-id-1053 .main-content {padding-top: 35px;padding-bottom: 0px !important;}
	.page-id-1107 .main-content {padding-top: 35px;padding-bottom: 0px !important;}
	.middle_text2 {margin-top: -40px !important;text-align: center !important;}
	.wpb_text_column.wpb_content_element.middle_text30 .wpb_wrapper p a {margin-left: 86px !important;}
	.middle_image .vc_single_image-img.attachment-full {margin-left: 190px;}
	#services .wpb_wrapper .attachment-full {width: 80%;}
	.middle_image {margin-top: -106px !important;margin-right: -23px !important;}
	.middle_image6 .vc_single_image-wrapper.vc_box_border_grey {margin-top: -165px;margin-left: -8px;}
	.wpb_single_image.wpb_content_element.vc_align_center.vc_custom_1517563175003.middle_image7 {position: relative;top: -140px !important;width: 100% !important;left: 0px;}
	#services .wpb_wrapper .attachment-full {width: 180px !important;}
	.wpb_text_column.wpb_content_element.middle_text7 {margin-top: -201px !important;}
	.page-id-1170 .no-breadcrumbs .main-content, body.woocommerce .main-content {padding-top: 0px !important;}
	span.de_ban {font-weight: 800 !important;}
	.page-id-15 span {line-height: 1.2;}
	.middle_text21 {position: relative !important;top: 30px !important;}
	.new_serrows .text_new8 strong {color: #43a6a3;}
	.page-id-15 .serrows .middle_text {margin-top: 0 !important;position: relative;top: 26px;}
	.page-id-15 .serrows .middle_text2 {position: relative;top: 26px;}
	.page-id-15 .serrows .wpb_text_column.wpb_content_element.middle_text7 {margin-top: 0px !important;position: relative;top: 26px;}
	.page-id-1053 .middle_text2 {position: relative;top: 26px;}
	.page-id-1053 .serrows .middle_text {margin-top: 0 !important;position: relative;top: 26px;}
	.page-id-1053 .serrows .wpb_text_column.wpb_content_element.middle_text7 {margin-top: 0px !important;position: relative;top: 26px !important;}
	@media only screen
and (max-width : 768px) {#svplayer #sv_videoWrap video {height: 106px !important;}
		#services .wpb_wrapper .attachment-full {width: 130px !important;position: relative;}
		.middle_image7 img {position: absolute;}
		#services .vc_column_container .wpb_wrapper .ld .vc_column_container:nth-child(1) .wpb_wrapper .wpb_single_image .wpb_wrapper a .vc_single_image-wrapper .attachment-full {top: 82px !important;width: 130px !important;left: 208px;margin-left: 0px;}
		#services a .attachment-full {top: 24px !important;left: -190px !important;}
		.wpb_single_image.wpb_content_element.vc_align_center.vc_custom_1517563175003.middle_image7 {top: -117px !important;}
		#services .vc_column_container .wpb_wrapper .ld .vc_column_container:nth-child(1) .wpb_wrapper .wpb_text_column .wpb_wrapper .service_link a span strong span {top: 0px !important;}
		.text_new {margin-top: -29px;}
		#services .vc_column_container .wpb_wrapper .ld .vc_column_container:nth-child(2) .wpb_wrapper .middle_text .wpb_wrapper .service_link a span strong span {left: 2px !important;top: 85px !important;}
		.wpb_text_column.wpb_content_element.middle_text7 {margin-top: -182px !important;}
		#services .vc_column_container .wpb_wrapper .ld .vc_column_container:nth-child(1) .wpb_wrapper .wpb_text_column .wpb_wrapper p strong a {font-size: 15px;}
		#services .vc_column_container .wpb_wrapper .ld .vc_column_container:nth-child(2) .wpb_wrapper .wpb_text_column .wpb_wrapper p strong a {font-size: 9px;font-weight: 600;}
		#services .vc_column_container .wpb_wrapper .ld .vc_column_container:nth-child(1) .wpb_wrapper .wpb_text_column .wpb_wrapper p strong a {top: 25px !important;}
		.middle_text41 a {position: relative;top: 6px !important;font-size: 15px;}}
	@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {#services a .attachment-full {left: -117px !important;}
		.wpb_single_image.wpb_content_element.vc_align_center.middle_image8 {margin-top: 35px;}
		.large {line-height: initial;}}
	@media only screen
and (max-width : 750px) and (min-width : 359px) {#services a .attachment-full {top: 24px !important;left: -111px !important;}
		.page-id-1107 p {line-height: 1.1;margin: 0 0 20px;}
		h2.gr_de_row.align-left {font-size: 38px;text-align: center;}}
	@media only screen
and (max-width : 284px) and (min-width : 359px) {#services a .attachment-full {top: 24px !important;left: -140px !important;}}
	@media only screen
and (max-width : 991px) and (min-width : 768px) {#services .vc_column_container .wpb_wrapper .ld .vc_column_container:nth-child(1) .wpb_wrapper .wpb_single_image .wpb_wrapper a .vc_single_image-wrapper .attachment-full {top: 77px !important;width: 140px !important;}
		#services .wpb_wrapper .attachment-full {width: 140px !important;top: 77px !important;left: 0px !important;}
		.middle_image8 img.vc_single_image-img {height: 105px !important;}
		.middle_image7 img.vc_single_image-img.attachment-full {margin-top: 23px !important;width: 100% !important;}
		.middle_text h3.service_link {position: relative;top: 40px;}
		p.text_new8 {position: relative;top: -4px;}
		.wpb_text_column.wpb_content_element.middle_text40 p a {position: relative;top: 80px !important;}
		#services .vc_column_container .wpb_wrapper .ld .vc_column_container:nth-child(3) .wpb_wrapper .middle_text .wpb_wrapper .service_link a span strong span {left: 3px;right: auto;top: 51px !important;bottom: auto;position: relative;}
		.wpb_text_column.wpb_content_element.middle_text50 {position: relative;top: 77px;}
		.tesr_row2 p {font-size: 24px;color: #666;font-family: Montserrat;font-weight: 100;}
		#mon_but a.vc_general {font-size: 16px;font-family: Montserrat;font-weight: bold;color: #fff;background-color: #00c8ff;padding: 10px 50px;border: solid;}
		#services .vc_column_container .wpb_wrapper .ld .vc_column_container:nth-child(3) .wpb_wrapper .middle_text .wpb_wrapper p strong {left: 3px;right: auto;top: 82px !important;bottom: auto;position: relative;}
		#services .vc_column_container .wpb_wrapper .ld .vc_column_container:nth-child(2) .wpb_wrapper .middle_text .wpb_wrapper .service_link a span strong span {top: 38px !important;}}
	.tp-caption {moz-user-select: text !important;-khtml-user-select: text !important;-webkit-user-select: text !important;-o-user-select: text !important;}
	span.wpcf7-list-item {display: block;}
	.lead_g .form-control {border: 0px solid !important;}
	.page-id-15 .vc_custom_1487273672586 {padding-top: 80px !important;}
	.lead_g .leadgen {border-bottom: 1px solid !important;width: 50%;}
	.lead_gtext h1 {font-size: 35px !important;font-weight: 400;}
	.lead_gtext label {font-size: 20px !important;color: #000 !important;}
	.lead_gtext input[type="radio"] {width: 17px !important;height: 17px !important;-webkit-border-radius: 50%;border-radius: 50%;border: solid 12px;border-color: rgba(0,0,0,.54);}
	.lead_gtext span.wpcf7-list-item-label {font-size: 16px !important;color: #000 !important;line-height: 37px;position: relative;bottom: 3px;}
	.lead_gtext input[type="checkbox"] {height: 16px;width: 16px;}
	.lead_gtext  .sub_but {width: 20%;text-align: center;background-color: #4284f4;}
	.lead_gtext  .sub_but:hover {width: 20%;text-align: center;background-color: #4284f4 !important;}
	.cntc_f_col.vc_column_container.col-md-6 {border-top: solid 7px #eaa018;border-bottom: solid 1px #cccaca;border-right: solid 1px #cccaca;border-left: solid 1px #cccaca;padding-top: 40px;box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);}
	.page-id-1053 .no-breadcrumbs .main-content, body.woocommerce .main-content {padding-top: 0px !important;}
	h2.gr_de_row.align-left {font-size: 40px;font-weight: 800;text-transform: uppercase;color: #333;font-family: Montserrat;}
	.gre_de_but  button {background-color: #f26b4e !important;padding: 10px 60px !important;}
	.gre_de_but a {background-color: #f26b4e !important;padding: 12px 80px !important;font-size: 20px !important;border-radius: 10px !important;font-family: Montserrat;color: #fff;}
	.serrows {padding-top: 50px;}
	.gred_row {padding-top: 70px;}
	.gre_de_but button {background-color: #f26b4e !important;padding: 12px 80px !important;font-size: 20px !important;border-radius: 10px !important;font-family: Montserrat;}
	.baner_but {padding: 17px 40px !important;}
	.serrows .middle_image6 img {top: 55px !important;width: 180px !important;max-width: 271px !important;left: 0px !important;right: auto;position: relative;}
	.tesr_row2 h4 {font-size: 26px;font-weight: 400;color: #666;line-height: 1.2;font-family: Montserrat;}
	.tesr_row9 p {font-size: 16px;font-family: Montserrat;font-weight: 400;color: #666;}
	#svplayer #sv_videoTitle {display: none !important;}
	@media only screen and (max-width :600px) {.page-id-15 .middle_image6 img {top: 82px !important;width: 130px !important;max-width: 271px !important;left: 0px !important;right: auto;position: relative;}
		#schedule {height: auto !important;}
		h1.headingNat {text-align: center !important;}
		.brran_ro .wpb_content_element {margin-bottom: 15px;}
		#services .vc_column_container .wpb_wrapper .ld .vc_column_container:nth-child(2) .wpb_wrapper .wpb_text_column .wpb_wrapper p strong a {font-size: 15px;position: relative;top: -6px !important;font-weight: 700;}
		.middle_text110 p.text_new8 {position: relative;top: 20px !important;}
		#services a span span {position: relative;top: 0px !important;}
		#services .wpb_wrapper .attachment-full {width: 130px !important;position: relative;top: 83px !important;left: 0px !important;}
		p.title span {font-size: 40px !important;}
		.page-id-15  p {line-height: 1.1;}
		.tesr_row h2 {text-align: center;}
		.tesr_row p {margin-left: 33px;}
		.sun_row .cli_entn p {font-weight: 400 !important;text-align: center;}
		.lead_gtext h1 {font-size: 22px !important;}
		.baner_but {padding: 10px 40px !important;margin-top: 20px !important;}
		.page-id-1107 p {line-height: 1;}
		.page-id-1053 p {line-height: 1;}
		.tesr_row p {text-align: left;font-size: 25px !important;}
		.g_desp2 p {line-height: 1.5;}
		.gre_de_but button {padding: 13px 41px !important;font-size: 17px !important;}
		.ledg p {font-size: 31px !important;}
		.csw_head .title span {font-size: 27px !important;}
		.m_col .vc_column-inner {border: solid 1px;padding-top: 50px !important;}
		.prc_rows .m_col {border: solid 0px !important;border-collapse: collapse;margin-left: -1px;height: auto !important;}
		.fcs_row span {font-size: 27px !important;}
		.g_desp2 {width: 100%;}
		h2.gr_de_row.align-left {font-size: 37px;text-align: center;}
		.des_e3 p {font-size: 20px;}
		.large {line-height: initial;font-size: 40px !important;}
		.page-id-1053 .middle_text2 {position: relative;top: 26px;}
		.page-id-1053 p.text_new {top: 15px;position: relative;}
		.page-id-1053 .middle_text30 {position: relative;top: 15px;}
		.page-id-1053 .serrows .middle_text {margin-top: 0 !important;position: relative;top: 26px;}
		.page-id-1053 p.text_new8 {position: relative;bottom: 15px;}
		.page-id-1053 .middle_text40 {position: relative;bottom: 15px;}
		.page-id-1053 .serrows .wpb_text_column.wpb_content_element.middle_text7 {margin-top: 0px !important;position: relative;top: 26px;}
		.page-id-1053 .middle_text7 p strong {position: relative;bottom: 15px;}
		.page-id-15 .middle_text2 p.text_new8 {position: relative;top: 23px;}
		.page-id-15 .middle_text50 {position: relative;bottom: 10px;}
		.page-id-15 p.text_new8 {position: relative;bottom: 10px;font-size: 15px;}
		.butn_rowr {text-align: center;}
		.new_front_head {color: #fff !important;margin-top: 25px;}}
	.g_desp p {font-size: 20px;color: #333;line-height: 1.6;font-weight: 400;font-family: Montserrat;}
	.csw_head span {font-family: Montserrat;font-weight: 600;color: #999;}
	.tesr_row h2 {font-size: 36px;color: #999;font-family: Montserrat;}
	.tesr_row p {font-size: 24px;color: #999;line-height: 1.1;font-weight: 100;font-family: Montserrat;}
	.ready_row {background-color: #e9faff;}
	.sun_row {padding-top: 50px;}
	.sun_row .cli_entn p {font-weight: 400 !important;}
	.serv_tit span strong {font-size: 18px;font-weight: 700;font-family: Montserrat;color: #333;}
	.serv_tit span {font-size: 18px;font-weight: 600;font-family: Montserrat;color: #333 !important;}
	.servr_ro {padding-top: 30px;}
	.servr_ro1 {padding-top: 30px;}
	.fls_ser {padding-top: 50px;padding-bottom: 50px;}
	.sub_me span strong {font-size: 16px;color: #333;font-weight: 400;font-family: Montserrat;padding-bottom: 3px;}
	.sub_me {margin-top: -20px;text-align: justify;}
	.led_row {margin-top: 40px !important;}
	.br_androw {padding-top: 30px;}
	.ledg p {font-size: 42px;text-transform: uppercase;color: #333;font-family: Montserrat;font-weight: 400;padding-top: 10px;}
	.led_im img {padding-top: 30px;}
	.g_desp2 {width: 50%;float: left;font-size: 20px;font-weight: bold;color: #464444;}
	.page-id-1107  .no-breadcrumbs .main-content, body.woocommerce .main-content {padding-top: 0px !important;}
	.fcs_row span {font-family: Montserrat;font-weight: 500 !important;}
	div#prc_p {border: solid 1px;padding: 50px;height: 202px;}
	#prc_p h3 {font-size: 30px;color: #999;font-weight: bold;font-family: Montserrat;}
	#prc_p p {font-size: 24px;color: #999;font-family: Montserrat;font-weight: 400;}
	.prc_rows {padding: 50px;}
	.prc_rows {background-color: #e9faff;}
	.ready_row {padding-top: 50px;}
	.prc_rows p.mon {font-size: 24px;color: #0a77c9;font-weight: 600;font-family: Montserrat;}
	.prc_rows p.mon_d {font-family: Montserrat;font-size: 14px;color: #999;font-weight: 600;}
	.prc_rows div#mon_but a {font-size: 16px;font-family: Montserrat;font-weight: bold;color: #fff;background-color: #00c8ff;padding: 10px 50px;border: solid;}
	.prc_rows .m_col {padding: 15px;border: solid 1px;border-collapse: collapse;margin-left: -1px;height: 202px;}
	.prc_rows .m_col .wpb_content_element {margin-bottom: 20px !important;}
	.prc_rows .m_col2 {margin-right: -15px;}
	.cli_entn p {font-size: 18px;color: #999;font-weight: 600;}
	.sto_but a.vc_general {font-size: 18px;font-family: Montserrat;color: #00c8ff;font-weight: 700 !important;text-transform: uppercase;}
	.natn_prow {box-shadow: 0px -3px 11px #ccc;}
	.csw_head strong {font-weight: 800 !important;}
	.comp_img img {box-shadow: 5px 5px 20px 1px #ccc;}
	.gred_row2 {padding-top: 100px;}
	.tesr_row2 p {font-size: 24px;color: #333;font-weight: 100;}
	div#mon_but .vc_general {font-size: inherit;font-size: 16px;font-family: Montserrat;font-weight: bold;color: #fff;background-color: #00c8ff;padding: 15px 100px;border: solid;border-radius: 7px !important;}
	.page-id-15  .middle_image6 img {top: 55px !important;width: 180px !important;max-width: 271px !important;left: 0px !important;right: auto;position: relative;}
	@media (min-width: 768px) {.servr_ro .col-md-2 {float: left !important;width: 18.5% !important;padding: 0 !important;margin-right: 2.4% !important;min-height: 0 !important;}
		.page-id-1107 p {line-height: 1.1 !important;}}
	@media (min-width: 900px) {#front_graphics32 {margin-left: 70px;}
		#front_graphics31 {margin-left: 70px;}
		.new_single_m_image img {height: 180px;width: 180px;margin-top: -92px;position: relative;}
		.servr_ro {margin-left: 55px !important;}
		.br_androw {position: relative;left: 87px;}
		.br_androw .vc_column_container.col-md-2 {margin-right: 11px;}}
	@media (max-width: 575px) {div#mon_but .vc_general {font-size: 15px;}
		span.de_ban {font-weight: 800 !important;font-size: 20px !important;}
		p.title span {font-size: 40px !important;}
		.page-id-1053 #schedule {height: auto !important;}
		.page-id-15 .vc_custom_1487273672586 {padding-top: 0px !important;}}
	@media only screen and (max-width :600px) {.butn_rowr {text-align: center;}
		.new_front_head {color: #fff !important;margin-top: 25px;}
		.new_front_head {color: #fff !important;padding-top: 132px;}
		.new_head_bg {height: 61em !important;}}
	@media (min-width: 900px) {#front_graphics32 {margin-left: 70px;}
		#front_graphics31 {margin-left: 70px;}
		.new_single_m_image img {height: 180px;width: 180px;margin-top: -92px;position: relative;}}}