.new_head_bg {background-color: #35a1c0;}
.new_front_head {color: #fff !important;}
.hme_btn1 a {background-color: #2da1c2 !important;color: #fff !important;width: 239px;line-height: 21px;font-size: 18px !important;font-weight: 400 !important;border-radius: 3px;border: none;border: solid 2px #fff !important;padding: 12px !important;font-family: "Helvetica" !important;text-transform: uppercase !important;}
.hme_btn2 a {background-color: #fff !important;color: #2da1c2 !important;width: 239px;line-height: 21px;font-size: 18px !important;font-weight: 400;border-radius: 3px;padding: 12px !important;border: none;font-family: Montserrat !important;}
.butn_rowr {padding-top: 30px;}