.count_num .stats-text, .designtn h4, .f2_price .ptsEl.p_bod_head, .ptsEl.p_head_mn, .sing_icon_head {text-transform: uppercase;}
.frac {display: none !important;}
.baner_but {padding: 17px 40px !important;font-weight: 600 !important;}
.gre_de_but a, .set_butn a {background-color: #f26b4e !important;padding: 12px 80px !important;font-size: 20px !important;border-radius: 10px !important;color: #fff;font-family: Montserrat;}
.set_butn a .ch_her {font-weight: 700;}
.new_serrows a:hover {text-decoration: none !important;}
.page-id-1294 .no-breadcrumbs .main-content {padding-top: 0 !important;}
.work_content h2 {color: #05406d;font-weight: 700;font-size: 30px;line-height: 40px;font-family: Montserrat;}
.g_desp li {font-size: 20px;color: #333;line-height: 1.6;font-weight: 400;font-family: Montserrat;}
.car_test, .car_test h4 {color: #05406d;font-family: Montserrat;text-align: center;}
.designtn, .designtn p {line-height: 0 !important;}
.caro_testimonial {background-color: #e8fafe;padding: 50px 0 0;}
.car_test {font-size: 20px;font-weight: 300;}
.car_test h4 {font-size: 21px;}
.car_test p:before {content: open-quote;font-size: 25px;font-weight: 600;}
.car_test p:after {content: close-quote;font-size: 25px;font-weight: 600;}
.counter_money {padding: 50px 0;}
.count_num .stats-number {color: #fff;font-family: Montserrat;font-size: 50px !important;font-weight: 400 !important;border-bottom: 4px solid;}
.count_num .stats-text {font-size: 30px;font-family: Montserrat;color: #fff;font-weight: 500;padding-top: 15px;}
.designtn, .designtn h4 {font-weight: 800;font-family: Montserrat;color: #000;}
.count_num .porto-icon.none {font-size: 45px;}
.page-id-1294 .main-content {padding-bottom: 0;}
.designtn {font-size: 13px;text-align: center;position: relative;bottom: 130px;right: 113px;}
.sing_icon_desp, .sing_icon_head {font-weight: 700;line-height: 24px;}
.counter_money:after {content: " ";display: block !important;position: absolute;height: 100%;top: 0;left: 0;right: 0;background: rgba(0,0,0,.74);}
.single_m_image {margin-top: -129px;height: 170px;width: 170px;margin-left: 42px;}
.sing_icon_head {color: #0cf;font-family: "Open Sans";font-size: 20px;text-align: center;}
.sing_head_marge {margin-top: -50px !important;}
.sing_icon_desp {font-size: 14px;text-align: center;color: #777;}
.page_hea_text, .prc_cont, .prc_cont h3 {font-weight: 600;text-align: center;}
.sing_desp_marge {margin-top: -30px !important;}
.pr_con, .pr_icon {margin-top: 20px;}
.page_hea_text {font-size: 36px;padding-top: 35px;padding-bottom: 35px;font-family: Montserrat;}
.porto_cont_box_decp img {margin-right: 30px;height: 50px;width: 50px;}
.porto_cont_box_decp .fa-chevron-circle-right {float: right;position: relative;top: 11px;}
.porto_cont_box_decp:hover {background-color: #00c8ff;color: #fff;}
.prc_cont h3 {font-size: 24px;color: #0a77c9;font-family: Montserrat;}
.prc_cont, .prc_p_desc, .prc_p_head {color: #999;font-family: Montserrat;}
.prc_cont {font-size: 14px;}
.prc_p_head {font-size: 30px;font-weight: 700;}
.prc_p_desc {font-size: 24px;font-weight: 400;}
.mon_but1 a {font-size: 16px !important;font-family: Montserrat !important;font-weight: 700 !important;color: #fff !important;background-color: #00c8ff !important;padding: 10px 50px !important;border: solid;}
.f2_price #ptsBlock_155159 .ptsColHeader, .f2_price #ptsBlock_240314 .ptsColDesc, .f2_price #ptsBlock_240314 .ptsColHeader, .f2_price #ptsBlock_58447 .ptsCol .ptsColDesc, .f2_price #ptsBlock_58447 .ptsColHeader, .f2_price .ptsColHeader.ptsCell {background: #fff !important;}
.nh_col, .pr_con, .pr_icon {border: 1px solid;}
.nh_col {padding: 8px;border-collapse: collapse;margin-left: -1px;}
.pr_r {padding-top: 50px;}
.pr_con {padding: 18px 10px;}
.f2_price .ptsColHeader {background-color: #fff !important;border: none !important;}
.f2_price .ptsEl.prc_cont span {font-size: 24px;color: #0a77c9;font-weight: 600;font-family: Montserrat;text-transform: uppercase;}
.f2_price .ptsEl.prc_cont p {font-family: Montserrat;font-size: 14px;color: #999;font-weight: 600;}
.f2_price .ptsActBtn.ptsEl.ptsElInput a {font-size: 16px;font-family: Montserrat;font-weight: 700;padding: 10px 35px;border: solid;width: 60% !important;color: #0a77c9 !important;}
.f2_price .pts_btn {border: 1px solid !important;}
.f2_price .ptsCol-1 .ptsColHeader.ptsCell {border: solid !important;border-width: 1px 1px 0 !important;}
.f2_price .ptsCol-1 .ptsColDesc.ptsToggle {border: solid;border-width: 0 1px;}
.f2_price .ptsCol-1 .ptsCell:nth-child(1) {border: solid #999;border-width: 0 1px 1px;}
.f2_price .ptsCol-2 .ptsColHeader.ptsCell {border: solid !important;border-width: 1px 1px 0 0 !important;}
.f2_price .ptsCol-2 .ptsColDesc.ptsToggle {border: solid;border-width: 0 1px 0 0;}
.f2_price .ptsCol-2 .ptsCell:nth-child(1) {border: solid #999;border-width: 0 1px 1px;}
.f2_price .ptsEl.p_head_n {text-align: left !important;line-height: 1.2 !important;}
.f2_price .ptsEl.p_head_n span {line-height: 1.3;}
.f2_price .ptsCell {border: solid #999 !important;border-width: 0 1px 1px 0 !important;border-collapse: collapse;}
.f2_price .ptsCol-0 .ptsColHeader.ptsCell {border: none !important;}
.f2_price .ptsEl.p_bod_head {color: #0a77c9;font-weight: 600;font-family: Montserrat;}
.f2_price .ptsEl.p_head_n, .f2_price .pts_te, .ptsEl.p_head_mn {color: #999;font-family: Montserrat;}
.f2_price .ptsEl.p_bod_head span {font-size: 24px !important;}
.f2_price .pts_te {font-size: 14px;font-weight: 600;}
.f2_price .ptsEl.p_head_n {font-size: 24px;font-weight: 400;}
.ptsEl.p_head_mn {font-size: 30px;font-weight: 600;}
.new_li, .new_li li {font-size: 18px;color: #4d4d4d;}
.holdText, .new_Sales_cont_head h2, .new_li, .new_li2 h4, .new_li2 li, .page-id-5770 .spu-content label.pup_lab {font-family: effra,Montserrat;}
.page-id-15 .middle_text2 {margin-top: -3px !important;text-align: center !important;}
.d_butn:before {content: url("http://35.192.156.183/wp-content/uploads/2018/04/cloud-download-symbol-2.png");float: left;margin-right: 12px;display: block;width: 40px;height: 40px;background: #e12826;padding: 4px;margin-top: -6px;}
.page-id-5770 .tp-bgimg.defaultimg:after {content: " ";z-index: 10;display: block;position: absolute;height: 100%;top: 0;left: 0;right: 0;background: rgba(0,0,0,.43);}
.d_butn {padding: 12px 7px !important;}
.new_li li:before {content: "•";margin-right: 5px;}
.new_li li {display: inline;float: left;margin-left: 10px;}
.new_li p {margin: 0 0 5px;}
.new_bckg {background: #f2f0f4;padding: 10px;margin-bottom: 20px;}
.new_Sales_cont_head h2 {font-size: 28px;margin: .7em 0;line-height: 1.25em;font-weight: 600;color: #4d4d4d;}
.new_li2 h4, .page-id-5770 .new_li2 li {color: #e2231a;}
.new_Sales_cont_head p {margin: 0 0 25px;}
.new_li2 li {font-size: 16px;}
span.new_colr {color: #4d4d4d;}
.plHolder {width: 37%;text-align: center;border-bottom: solid 1px #e22926;padding-bottom: 10px;}
.plHolder:before {width: 0;height: 0;content: "";display: block;border-bottom: 0;border-left: 10px solid transparent;border-right: 10px solid transparent;border-top: 10px solid #e2261c;position: absolute;bottom: 44%;left: 50%;margin-left: -10px;}
.holdText {background: #e12826;color: #fff;text-align: center;padding: 20px;font-size: 18px;font-weight: 300;}
.req {color: #e12826;margin-left: 6px;}
.page-id-5770 .spu-content label.pup_lab {font-style: normal;margin-bottom: 5px;display: block;font-weight: 400;color: #302683;font-size: 16px;}
.page-id-5770 .spu-content span.wpcf7-list-item {color: #4d4d4d;}
.page-id-5770 input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {background: #f5f4f3 !important;border-radius: 3px !important;margin-top: -14px;border: 1px solid #525152 !important;}
.cnt_fm span.wpcf7-form-control-wrap.leads {position: relative;top: -17px;}
#spu-bg-6130 {opacity: 1;background-color: #000e08 !important;}
.bck_ov {background: #f3f6f6;padding: 20px;margin-top: 20px;}
.new_row_pt {margin-bottom: 3px !important;}
.page-id-1392 .new_li2 li {color: #e2231a;}
.sidebar-content aside#media_image-3 {background-color: #2f358f;padding: 35px;}
.sidebar-content aside#text-6 {background-color: #e12826;padding: 25px 10px 0;text-align: justify;color: #fff !important;}
.sidebar-content aside#media_image-3 img {height: 190px !important;width: 190px;}
#spu-1458 .poppr_but, #spu-1458 button#id123-button-send {width: 35% !important;height: 31px !important;text-transform: uppercase;}
.sidebar-content .side_button_try {border: 1px solid #2f358f;color: #fff;background-color: #2f358f;padding: 2px 16px;font-size: 15px;font-weight: 600;}
.sidebar-content .textwidget h4.cta-feature--title {color: #fff;font-family: Montserrat;}
#spu-1458 .class123-label, #spu-1458 label.pup_lab {font-style: normal;display: block;font-family: effra,Montserrat;}
.sidebar-content h3.widget-title {border-bottom: solid 1px #e12826;text-align: center;font-size: 21px !important;line-height: 50px;}
.sidebar-content .share-links {text-align: center;}
.sidebar-content .menu-item:before {border-top: 7px solid transparent !important;border-bottom: 7px solid transparent !important;border-left: 7px solid #e12826 !important;border-right: 0 !important;}
.sidebar-content .menu-item a {font-size: 16px;margin-left: 5px;}
#spu-1458 .class123-label {margin-bottom: 5px;font-weight: 400;color: #302683;font-size: 16px;}
#spu-1458 button#id123-button-send {float: left !important;padding: 0 !important;font-size: 18px !important;background-color: #302683 !important;font-weight: 500;border: 0 solid !important;}
#spu-1458 .pup_title2 {font-size: 24px !important;color: #4d4d4d;padding-bottom: 10px;}
#spu-1458 .holdText2 {background: #e12826;color: #fff;text-align: center;padding: 20px;font-size: 18px;font-weight: 300;}
#spu-1458 label.pup_lab {margin-bottom: 0;font-weight: 400;color: #302683;font-size: 16px;}
#spu-1458 .pup_inp {background: #f5f4f3 !important;border-radius: 3px !important;border: 1px solid #525152 !important;margin-top: -10px;}
#spu-1458 .poppr_but {padding: 0 !important;font-size: 18px !important;background-color: #302683 !important;font-weight: 500;border: 0 solid !important;margin-top: 15px;}
li#nav-menu-item-257 {width: 21% !important;}
.new_front_head {font-weight: 700;font-size: 30px;line-height: 40px;font-family: Montserrat;text-align: left;text-transform: capitalize;margin-bottom: 0 !important;}
.mon_but_cap a {text-transform: uppercase;padding: 10px 70px !important;font-size: 20px !important;}
.new_head_bg {padding: 10% 0;height: 38.5em !important;}
.new_front_head p {font-size: 50px;line-height: 60px;font-weight: 400;}
.page-id-1514 .no-breadcrumbs .main-content {padding-top: 0;}
.new_btn_home button {font-size: 24px;font-family: Montserrat;font-weight: 700;background-color: #00c8ff;border-radius: 7px !important;text-transform: uppercase;padding: 15px 40px 5px;line-height: 15px;color: #fff;text-align: left !important;display: inline-block;}
.new_btn_home button .but_smc {text-transform: capitalize;line-height: 2;}
.new_btn_home {text-align: left;margin-bottom: 0 !important;}
.page-id-1329 .no-breadcrumbs .main-content {padding-top: 0;padding-bottom: 0;}
.new_btn_home button:hover {cursor: pointer;}
.right_algn .wpb_single_image {text-align: right !important;}
.left_algn .wpb_single_image {text-align: left !important;}
.servr_ro .fix_150 {height: 150px;}
.natn_prow2 {box-shadow: 0 -3px 1px #e1e1e1;}
.natn_prow2 .tesr_row h1 {color: #999 !important;}
.natn_prow2 .tesr_row h4 {color: #ccc;}
.natn_prow2 .tesr_row h5 {color: #999;}
.pad_20 {padding-top: 20px;}
.natn_prow2 .tesr_row .strong-view.default .testimonial {border: 0 solid #e6e6e6 !important;}
.set_size_img img {height: 144px !important;width: 255px !important;}
.sing_head_marge a, .sing_head_marge a:hover {color: #0cf;font-family: "Open Sans";font-size: 20px;font-weight: 700;text-transform: uppercase;line-height: 24px;text-align: center;text-decoration: none;}
.sing_desp_marge a, .sing_desp_marge a:hover {font-size: 14px;font-weight: 700;line-height: 24px;text-align: center;color: #777;text-decoration: none;}
.porto_cont_box_decp {padding: 10px;border: 2px solid #00c8ff;color: #00c8ff;font-size: 19px;font-family: Montserrat;font-weight: 600;text-transform: Uppercase;border-radius: 7px;}
.video_row video {position: relative;z-index: 0;}
.sing_icon_desp12 a {color: #43a6a3 !important;}
.hme_btn1 a, .new_front_head {color: #fff !important;}
.sing_icon_desp12 {text-align: center;}
.new_single_m_image img {height: 180px;width: 180px;margin-top: -99px;position: relative;}
.hme_btn1 a, .hme_btn2 a {width: 239px;line-height: 21px;font-size: 18px !important;padding: 12px !important;}
.serrows #svplayer #sv_videoWrap video {height: 195px !important;margin-top: -10px !important;}
div#topcontrol {display: none !important;}
.new_head_bg {background-color: #35a1c0;}
.hme_btn1 a {background-color: #2da1c2 !important;font-weight: 400 !important;border-radius: 3px;border: 2px solid #fff !important;font-family: Helvetica !important;text-transform: uppercase !important;}
.hme_btn2 a {background-color: #fff !important;color: #2da1c2 !important;font-weight: 400;border-radius: 3px;border: none;font-family: Montserrat !important;}
.butn_rowr {padding-top: 30px;}
@media (max-width:575px) {div#mon_but .vc_general {font-size: 15px;}
	span.de_ban {font-weight: 800 !important;font-size: 20px !important;}
	p.title span {font-size: 40px !important;}
	#schedule {height: 130em !important;}
	.page-id-1053 #schedule {height: auto !important;}
	.page-id-15 .vc_custom_1487273672586 {padding-top: 0 !important;}}
@media only screen and (max-width :600px) {.work_content h2 {font-size: 34px;text-align: center;}
	.page-id-1053 p.text_new82 {position: relative !important;bottom: 0 !important;}
	.g_desp p {font-size: 18px !important;}
	.designtn {font-size: 10px;bottom: 92px;right: 23px;}
	.designtn h4 {font-size: 16px;}
	.car_test {color: #05406d;font-family: Montserrat;font-size: 18px;}
	.car_test h4 {font-size: 19px;}
	.count_num .stats-number {font-size: 35px !important;}
	.count_num .stats-block .stats-text {font-size: 16px !important;}
	.ban_eltit {font-size: 37px;text-align: center;}
	.baner_but2 {padding: 10px 30px !important;margin-top: 20px !important;font-size: 16px !important;}
	.page_hea_text p {line-height: 1.2;font-size: 32px;}
	.porto_cont_box_decp {font-size: 12px;padding: 10px 4px;}
	.porto_cont_box_decp img {margin-right: 0;height: 40px;width: 40px;}
	.porto_cont_box_decp .fa-chevron-circle-right {float: right;position: relative;top: 16px;}
	.f2_price .ptsActBtn.ptsEl.ptsElInput a {padding: 10px 5px;border: solid;width: 100% !important;color: #0a77c9 !important;}
	.new_front_head p {text-align: center;font-size: 30px;line-height: 37px;font-weight: 400;}
	.new_btn_home button {font-size: inherit;font-size: 17px;font-family: Montserrat;font-weight: 700;color: #fff;background-color: #00c8ff;padding: 6px 20px 0;border: 1px solid #00c8ff;border-radius: 4px !important;text-transform: uppercase;margin-bottom: 10px !important;}
	.home_frame iframe {height: 250px;width: 100%;}
	.left_algn .wpb_single_image, .right_algn .wpb_single_image {text-align: center !important;}
	.single_m_image {margin-top: -94px;height: 170px;width: 170px;margin-left: 80px;position: relative;}
	.new_btn_home {text-align: center;}
	.new_single_m_image img {height: 140px;width: 140px;margin-top: -76px;position: relative;}
	.vid_r div#svplayer {position: relative;left: 12%;}
	.vid_r #svplayer #sv_videoWrap video {height: 195px !important;margin-top: -7px;}
	.vid_r div#sv_controls, .vid_r div#sv_header {display: none;}}
@media only screen and (min-device-width :768px) and (max-device-width :1024px) {.br_androwo2, .new_serrows, .servr_ro {position: relative;}
	.designtn {font-size: 12px;bottom: 100px;right: 18px;}
	.designtn h4 {font-size: 18px;}
	.new_serrows {left: 13%;}
	.single_m_image {margin-top: -117px;height: auto;width: 145px;margin-left: 27px;}
	.new_front_head p {font-size: 45px;line-height: 45px;font-weight: 400;}
	.new_btn_home button {font-size: inherit;font-size: 17px;font-family: Montserrat;font-weight: 700;color: #fff;background-color: #00c8ff;padding: 5px 20px;border: 1px solid #00c8ff;border-radius: 7px !important;text-transform: uppercase;}
	.new_head_bg {height: 30.5em !important;}
	.frnt_banr_col1 {margin-top: 41px;}
	.porto_cont_box_decp {padding: 10px;border: 2px solid #00c8ff;color: #00c8ff;font-size: 17px;font-family: Montserrat;font-weight: 600;text-transform: Uppercase;border-radius: 7px;}
	.porto_cont_box_decp img {margin-right: 5px;height: 39px;width: 39px;}
	.br_androwo2 {left: 18%;}
	.servr_ro {left: 5%;}}
@media only screen and (min-width :900px) {.new_serrows {position: relative;left: 13%;}
	.br_androw2 {position: relative;left: 226px;}
	.page-id-1053 p.text_new8 {margin-top: -15px;}
	.br_androwo2 {position: relative;left: 14%;}
	.header-left {height: auto !important;width: 215px !important;}
	#header .header-right {text-align: left;}
	li#nav-menu-item-256 {padding-left: 0 !important;float: left !important;}
	#header .header-main .container #main-menu {width: 100%;}
	.vid_r div#svplayer {position: relative;left: 15%;}
	.serrows #svplayer #sv_videoWrap video, .vid_r div #svplayer #sv_videoWrap video {height: 195px !important;margin-top: -7px;}}
@media only screen and (min-device-width :1024px) and (max-device-width :1366px) {.single_m_image {margin-top: -90px;height: 160px;width: 160px;margin-left: 42px;position: relative;z-index: 1;}
	.porto_cont_box_decp img {margin-right: 10px;height: 50px;width: 50px;}}
@media screen and (min-width:1600px) {.br_androwo2 {position: relative;left: 13%;}
	.servr_ro .fix_150 {height: 150px;margin-left: 12px !important;}}
@media screen and (device-aspect-ratio:40/71) {.single_m_image {margin-top: -129px;height: 170px;width: 170px;margin-left: 59px;}}
@media screen and (max-width:1680px) {.new_head_bg {height: 41em !important;}}