<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Video testimonials &#8211; Flowz</title>
	<atom:link href="https://stupefied-franklin-9dbc1c.netlify.com/tag/video-testimonials/feed/" rel="self" type="application/rss+xml" />
	<link>https://stupefied-franklin-9dbc1c.netlify.com/</link>
	<description>Fractional and flat-rate services</description>
	<lastBuildDate>Wed, 01 May 2019 10:05:03 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	

<image>
	<url>https://stupefied-franklin-9dbc1c.netlify.com/wp-content/uploads/2018/01/favi.png</url>
	<title>Video testimonials &#8211; Flowz</title>
	<link>https://stupefied-franklin-9dbc1c.netlify.com/</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>How To Shoot A Perfect Video Testimonial?</title>
		<link>https://stupefied-franklin-9dbc1c.netlify.com/how-to-shoot-a-perfect-video-testimonial/</link>
		<comments>https://stupefied-franklin-9dbc1c.netlify.com/how-to-shoot-a-perfect-video-testimonial/#respond</comments>
		<pubDate>Tue, 30 Apr 2019 13:29:18 +0000</pubDate>
		<dc:creator><![CDATA[Pranav Dalal]]></dc:creator>
				<category><![CDATA[Video Editing]]></category>
		<category><![CDATA[video editing service]]></category>
		<category><![CDATA[Video testimonials]]></category>

		<guid isPermaLink="false">https://www.flowz.com/?p=2597</guid>
		<description><![CDATA[Video testimonials are amazing assets for marketers. Videos connect far better with the target audience than any other form of content marketing. They touch viewers emotionally. Are more fun to watch than reading. In fact, statistics suggest that videos have a great conversion rate as well. There is no doubt then, video testimonials have to be a part of your content marketing strategy. The catch here is to create a good video testimonial. This requires [...]]]></description>
		<wfw:commentRss>https://stupefied-franklin-9dbc1c.netlify.com/how-to-shoot-a-perfect-video-testimonial/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
