.redux-container-palette label.ui-button.ui-widget {width: 95%;background: none;padding: 0;}
.redux-container-palette label.ui-button.ui-widget .ui-button-text {display: flex;}
.redux-container-palette label.ui-button.ui-widget .ui-button-text span {padding: 10px 0;flex-grow: 1;font-size: 0;line-height: 10px;color: transparent;-webkit-transition: all 200ms ease-in-out;-moz-transition: all 200ms ease-in-out;-ms-transition: all 200ms ease-in-out;-o-transition: all 200ms ease-in-out;transition: all 200ms ease-in-out;}
.redux-container-palette label.ui-button.ui-widget .ui-button-text span:hover {padding: 10px;flex-grow: 3;min-width: 60px;font-size: 10px;line-height: 10px;color: #000;}
.redux-container-palette label.ui-state-active.ui-button.ui-widget span.ui-button-text {border: 3px solid #333;}