<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Member Archive &#8211; Flowz</title>
	<atom:link href="https://stupefied-franklin-9dbc1c.netlify.com/team_cat/member-archive/feed/" rel="self" type="application/rss+xml" />
	<link>https://stupefied-franklin-9dbc1c.netlify.com/</link>
	<description>Fractional and flat-rate services</description>
	<lastBuildDate>Wed, 01 May 2019 10:05:03 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	

<image>
	<url>https://stupefied-franklin-9dbc1c.netlify.com/wp-content/uploads/2018/01/favi.png</url>
	<title>Member Archive &#8211; Flowz</title>
	<link>https://stupefied-franklin-9dbc1c.netlify.com/</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>John Doe</title>
		<link>https://stupefied-franklin-9dbc1c.netlify.com/speakers/john-doe/</link>
		<comments>https://stupefied-franklin-9dbc1c.netlify.com/speakers/john-doe/#respond</comments>
		<pubDate>Thu, 09 Feb 2017 14:32:53 +0000</pubDate>
		<dc:creator><![CDATA[Pranav Dalal]]></dc:creator>
		
		<guid isPermaLink="false">http://sw-themes.com/porto_dummy/speakers/bob-doe-copy-copy-copy-copy/</guid>
		<description><![CDATA[]]></description>
		<wfw:commentRss>https://stupefied-franklin-9dbc1c.netlify.com/speakers/john-doe/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Richard Doe</title>
		<link>https://stupefied-franklin-9dbc1c.netlify.com/speakers/richard-doe/</link>
		<comments>https://stupefied-franklin-9dbc1c.netlify.com/speakers/richard-doe/#respond</comments>
		<pubDate>Thu, 09 Feb 2017 14:32:47 +0000</pubDate>
		<dc:creator><![CDATA[Pranav Dalal]]></dc:creator>
		
		<guid isPermaLink="false">http://sw-themes.com/porto_dummy/speakers/bob-doe-copy-copy-copy/</guid>
		<description><![CDATA[]]></description>
		<wfw:commentRss>https://stupefied-franklin-9dbc1c.netlify.com/speakers/richard-doe/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
