<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>video_testimonials &#8211; Flowz</title>
	<atom:link href="https://stupefied-franklin-9dbc1c.netlify.com/testimonial-category/video_testimonials/feed/" rel="self" type="application/rss+xml" />
	<link>https://stupefied-franklin-9dbc1c.netlify.com/</link>
	<description>Fractional and flat-rate services</description>
	<lastBuildDate>Wed, 01 May 2019 10:05:03 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	

<image>
	<url>https://stupefied-franklin-9dbc1c.netlify.com/wp-content/uploads/2018/01/favi.png</url>
	<title>video_testimonials &#8211; Flowz</title>
	<link>https://stupefied-franklin-9dbc1c.netlify.com/</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title></title>
		<link>https://stupefied-franklin-9dbc1c.netlify.com/testimonial/985/</link>
		<pubDate>Tue, 13 Feb 2018 04:42:04 +0000</pubDate>
		<dc:creator><![CDATA[Pranav Dalal]]></dc:creator>
		
		<guid isPermaLink="false">http://flowz.com/?post_type=wpm-testimonial&#038;p=985</guid>
		<description><![CDATA[]]></description>
		</item>
	</channel>
</rss>
